/* Universal styles */
html {
	display: block;
	font-size: 16px;
}
body {
	font-family: 'Lato', sans-serif, arial;
	color: #2C2E2E;
	background-color: #FAF9F6;
}
body, header, nav, footer, .about, .achtergrond-ervaring {
	margin: 0;
}
p#bold-letters {
	font-family: 'Bebas Neue', cursive;
	font-size: 45px;
	color: #FAF9F6;
	text-transform: uppercase;
}
.pagina-titel p {
	font-family: 'Bebas Neue', cursive;
	font-size: 45px;
	color: #2C2E2E;
	text-transform: uppercase;
	margin-top: 3rem;
	margin-left:3rem;
}

/*Header*/
header {
	display: flex;
	width: 100%;
}
.logo {
	margin: 0px;
	background-color: #97D38B;
	height: 200px;
	width: 60%;
}	

.logo a {
	font-family: 'Bebas Neue', cursive;
	font-size: 45px;
	color: #FAF9F6;
	text-transform: uppercase;
	padding: 10px 15px;
	margin: 0;
}

nav {
	display: inline-block;
	background-color: #2C2E2E;
	width: 40%;
	height: 200px;
	border-left: 10px double #FAF9F6;
}
nav ul {
	margin-top: 9.5em;
	margin-left: 9em;
}

nav li  { /* horizontaal menu(about etc) */
	display: inline;
	padding: 10px;
	margin: 0;
	font-size: 30px;
	font-family: 'Bebas Neue', cursive;
	text-transform: uppercase;
	text-decoration: none;
	}

nav a {
	color: #FAF9F6;
}
/*underline blijft niet staan op de pagina die actief is. Losse code per pagina?*/
a.intern {
	color: #c29f88;
	text-decoration: none;	
}
a.extern {
	color: #c29f88;
	text-decoration: underline;	
}
a:hover.intern {
	color: #2C2E2E;
	text-decoration: none;
  }
a:hover.extern {
	color: #FAF9F6;
	text-decoration: underline;
  }
/*HOME-PAGINA*/
#main-content {
	position: static;
	display: block;
	margin: 0;
	width: 100%;
	height: 475px;
}
img#foto-intro {
	position: absolute;
	top: 25%;
	left: 10%;
	width: 25%;
	height: auto;
	border: 10px double #2C2E2E;
}
div.intro {
	position: relative;
	margin: 10px;
	top: 4em;
	left: 45%;
	width: 40%;
	font-size: 18px;
}
#hi {
	color: #2C2E2E;
	font-size: 60px;
	font-weight: bold;
	text-decoration: underline;
	margin: 0;
	font-family: 'Roboto', sans-serif, "monotype corsiva";
	}

/*ABOUT-PAGINA*/
/*About-intro*/
.about {
	position: relative;
	top: -45px;
	display: flex;
}
.about p {
	width: 50%;
	margin-top: 1.5em;
	margin-left: 3em;
	font-size: 18px;
}
#foto-cv {
	position: relative;
	top: -30px;
	width: 20%;
	left: 10%;
	border: 10px double #2C2E2E;
}
/*Ervaring+Achtergrond+Projecten*/
.container-banner {
	display: flex;
	border-bottom: 10px double #FAF9F6;
}
.dark-box-40 {
	background-color: #2C2E2E;
	width: 40%;
	border-left: 10px double #FAF9F6;
	color: #FAF9F6;
	padding: 5px;
}
.green-box-60 {
	background-color: #97D38D;
	width: 60%;
	align-items: center;
	padding-left: 15px;
}
#content-dark-box-40 {
	margin: 5px;
}
/*Achtergrond+ervaring*/
img#icon {
	width: 24px;
	height: auto;
	margin: 0 2.5px;
}
p.achtergrond-ervaring {
	font-weight: 600;
}
.achtergrond-ervaring i {
	font-size: 12px;
	margin-top: 5px;
	font-weight: normal;
}
span#not-bold {
	font-weight: normal;
}
/*Technische-skills*/
.technische-skills {
	width: 100%;
}
.technische-skills p {
	width: 100%;
	text-align: center;
	background-color: #2C2E2E;
}
#image-containter-tenische-skills {
	display: flex;
}
.technische-skills img {
	width: 10%;
	height: auto;
	margin: auto;
	justify-content: space-evenly;
}
/*PROJECTEN-PAGINA*/
.green-box-60 p {
	width: 100%;
}
.green-box-60 a {
	margin: 0;
	float: right;
	width: 55%;
	height: auto;
}
#project-overview {
	display: flex;
}
img.project-image {
	width: 100%;
	height: auto;
	padding: 15px;
	float: right;
}

.dark-box-40 li {
	list-style: square;
	}

/*CONTACT-PAGINA*/
div.contactpagina {
	margin-bottom: 8em;
}
.contactgegevens {
	margin: 10px auto;
	width: 25%;
	align-items: center;
}
p#font-size18 {
	font-size: 18px;
	margin: 2.5px;
}
/*footer*/
footer {
	display: block;
	margin-top: 1em;
	position: relative;
	text-align: center;
	z-index: 10;
}
footer p {
	font-size: 0.75em;
	color: #111313;
	padding: 10px;
}