/* Universal styles */
body {
	font-size: 16px;
	font-family: 'Lato', sans-serif, arial;
	color: #2C2E2E;
	background-color: rgb(252, 249, 249);
	width: 100%;
}
body, header, footer, .about, .achtergrond-ervaring {
	margin: 0;
}
p.bold-letters {
	font-family: 'Bebas Neue', cursive;
	font-size: 2.5rem;
	color: rgb(252, 249, 249);
	text-transform: uppercase;
	letter-spacing: 0.5pt;
}
.pagina-titel {
	font-family: 'Bebas Neue', cursive;
	font-size: 2rem;
	color: #2C2E2E;
	text-transform: uppercase;
	margin-top: 5rem;
	margin-left:2.5rem;
	letter-spacing: 0.5pt;
	width: fit-content;
}
.container-banner {
	display: block;
}

/*Header*/
header {
	display: flex;
	width: 100%;
}
.logo {
	margin: 0px;
	background-color: #9ac591;
	height: 12.5rem;
	width: 60%;
}	
.logo a {
	position: absolute;
	color: rgb(252, 249, 249);
	margin-left: 1rem;
}
#page-logo{
	margin-top: 1rem;
}

.nav-menu {
	background-color: #2C2E2E;
	width: 40%;
	height: 12.5rem;
	border-left: 10px double rgb(252, 249, 249);
}
nav {
	position: absolute;
	top: 9rem;
	right: 1rem;

}
nav ul {
	margin: 0;
	margin-block-start: 0;
	padding-inline-start: 0;
}
nav li  { /* horizontaal menu(about etc) */
	display: inline-block;
	padding: 10px;
	font-size: 1.5rem;
	letter-spacing: 0.5pt;
	font-family: 'Bebas Neue', cursive;
	text-transform: uppercase;
	text-decoration: none;
	}

nav a {
	color: rgb(252, 249, 249);
}
/*underline blijft niet staan op de pagina die actief is. Losse code per pagina?*/
a.intern {
	color: #c29f88;
	text-decoration: none;	
}
a.extern {
	color: #c29f88;
	text-decoration: underline;	
}
a:hover.intern {
	color: #c29f88;
	text-decoration: none;
  }
a:hover.extern {
	color: #c29f88;
	text-decoration: underline;
  }
/*HOME-PAGINA*/
#main-content {
	position: static;
	display: block;
	margin: 0;
	width: 100%;
	height: 475px;
}
div.page-intro {
	display: flex;

}
img#foto-intro {
	position: relative;
	top: -2rem;
	left: 10%;
	width: 25%;
	height: auto;
	border: 10px double #2C2E2E;
}

.intro-tekst {
	position: relative;
	margin: 10px;
	width: 40%;
	left: 15%;
	top: 6rem;
}
.tekst-intro p {
	font-size: 18px!important;
}
#hi {
	color: #2C2E2E;
	font-size: 60px;
	font-weight: bold;
	text-decoration: underline;
	margin: 0;
	font-family: 'Roboto', sans-serif, "monotype corsiva";
	}

/*ABOUT-PAGINA*/
/*About-intro*/
.about {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding-bottom: 3rem;
}
.about p {
	width: 55%;
	padding-left: 3rem;
	margin-top: 0;
}

#foto-cv {
	position: relative;
	top: -50px;
	width: 20%;
	height: auto;
	left: 10%;
	border: 10px double #2C2E2E;
}


#mobile-page-logo {
	font-family: 'Bebas Neue', cursive;
	font-size: 1.5rem;
	color: rgb(252, 249, 249);
	text-transform: uppercase;
	letter-spacing: 0.5pt;	
	padding-left: 1rem;
}
	#mobile {
	width: 100%;
	background-color: #9ac591;
	height: 8rem;
}
.mobile-nav {
	position: relative;
	padding: 0;
	left: 11rem;
	margin: 0;
	top: 2.5rem;
}
.menu-items {
	display: inline-block;
	padding: 5px;
	font-size: 1rem;
	letter-spacing: 0.5pt;
	font-family: 'Bebas Neue', cursive;
	text-transform: uppercase;
	text-decoration: none;
}
.menu-items a {
	color: rgb(252, 249, 249);
}
#mobile-page-logo a {
	color: rgb(252, 249, 249);
}
/*Ervaring+Achtergrond+Projecten*/

.dark-box-40 {
	margin: 4rem;
	color: #2C2E2E;
	background-color: rgb(238, 235, 235);
}
.dark-box-40 p {
	padding: 2rem;
}
.green-box-60 {
	background-color: #9ac591;
	max-width: 100%;
	align-items: center;
}
.green-box-60 p {
	margin: 0;
	padding: 2rem;
	width: 50%;
}
#boeken {
	margin: 0;
}

/*Achtergrond+ervaring*/
img#icon {
	width: 24px;
	height: auto;
	margin: 0 2.5px;
}
p.achtergrond-ervaring {
	font-weight: 600;
}
.achtergrond-ervaring i {
	font-size: 14px;
	margin-top: 5px;
	font-weight: normal;
}

/*Technische-skills*/
.technische-skills {
	width: 100%;
}
.technische-skills p {
	width: 100%;
	text-align: center;
	background-color: #9ac591;
	margin-top: 0;
}
#image-containter-tenische-skills {
	display: flex;
	background-color: rgb(238, 235, 235);
}
.technische-skills img {
	width: 10%;
	height: auto;
	margin: auto;
	justify-content: space-evenly;
}
/*PROJECTEN-PAGINA*/
.project-overzicht {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.project-tekst {
	width: 100%;
}
img.project-image {
	width: 60%;
	height: auto;
	padding: 3rem 1rem;
	display: flex;
}

.dark-box-40 li {
	list-style: square;
	padding: 5px 0;
	}
.dark-box-40 ul {
	width: 70%;
	padding: 0 0 1rem 3rem;
	margin: 0;
}
.project-omschrijving {
	padding: 2rem!important;
	margin-bottom: 0;
}
/*CONTACT-PAGINA*/
div.contactpagina {
	margin-bottom: 8em;
}
.contactgegevens {
	margin: 10px auto;
	width: fit-content;
	align-items: center;
	align-content: center;
	background-color: rgb(238, 235, 235);
	padding: 2rem 2rem 1rem;
}
p#font-size18 {
	font-size: 18px;
	margin: 2.5px;
}
.contactgegevens a {
	color:#2C2E2E;
}
.contactgegevens img {
	margin-right: 1rem!important;
}
.contact-item {
	display: flex;
	align-items: baseline;
	margin-bottom: 1rem;
}
/*footer*/
footer {  
	position: relative;
	width: 100%;
	text-align: center;
}
footer p {
	font-size: 0.75em;
	color: #111313;
	padding: 10px;
}

@media only screen and (min-width: 452px) {
	#mobile {
	display: none;
	}
}
@media only screen and (max-width: 451px) {
	.page-intro {
  	flex-direction: column-reverse;
  	align-content: center;
  	margin: 1rem auto;
  	max-width: 100%;
}
	.intro-tekst {
		position: relative;
		top: 0!important;
		left: 0!important;
		width: 80%!important;
		height: fit-content;
		margin: 0 auto!important;
		padding: 1rem;
		display: block;

	}
	img#foto-intro {
		width: 60%;
		height: auto;
		position: static;
		margin: 0 auto;
		display: block;
	}

	.nav-menu, .logo {
		display: none;
	}

}

@media only screen and (max-width: 451px) {
	.about {
		flex-direction: column;
	}
	.about p {
		width: 80%;
	}
	#foto-cv {
		width: 80%;
		position: relative;
		top: 0;		
	}
	.project-overzicht {
		display: block;
	}
	img.project-image {
		width: 80%;
	}
}