/* Universal Styles */
html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: rgb(87, 85, 85);
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .main-content {
    position: relative;
    top: 4rem; /* To offset for fixed header. */
  }
  header, body, .main-content, footer {
      margin: 0;
      padding: 0;
  }
  a {
    text-decoration: none;
  }
  img, video {
      border: none;
  }
/*HEADER*/
nav.desktop {
    display: block;
    position: fixed;
    display: flex;
    z-index: 100;
    width: 100%;
    height: 4rem;
    background-color: white;
}
div#school-logo {
    margin-left: 1.5rem;
    flex: 1;
    display: flex;
    align-items: center;
}
a#desktop-logo {
    font-size: 20px;
    color: #4a4a4a;
    text-decoration: none;
} 
img#logo {
    height: 32px;
    margin-right: 0.25rem;
}
nav.desktop ul {
    display: flex;
    list-style-type: none;
    margin-right: 1rem;
    max-height: 3rem;
  }
nav.desktop a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 18px;
    color: #4a4a4a;
    text-decoration: none;
    padding: 0rem 0.5rem;
  }

  @media only screen and (min-width: 691px) {
        .nav-mobile {
      display: none;
    }
}
  @media only screen and (max-width: 690px) {
        nav.desktop {
          display: none;
        }
    }
.nav-mobile {
    width: 100%;
    position: fixed;
    z-index: 99;
    height: 4rem;
    background-color: white;
    }

.nav-mobile ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: auto;
    padding: 0 1.5rem;
    width: 100%;
    height: 4rem;
  }
.nav-mobile li {
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
}
.nav-mobile img {
    justify-content: space-evenly;
    margin: auto;
    padding: auto;
}

/*SIGNUP section*/
.main-content {
    justify-content: center; 
    width: 100%;
}
.start-here-section {
    background-color: rgb(223, 213, 213);
    display: flex;
    max-width: 100%;
}
img.start-here-section-img {
    width: 60%;
    margin: 2rem 1.5rem;
}
.start-here-cta {
  width: 30%;
  height: 40%;
  margin-top: 15%;
}
h1, h2 {
    font-weight: bold;
    margin: 0;
}
.start-here-cta h1, .start-here-cta h2  {
    margin-bottom: 1rem;
}
#start-here-button {
    background-color:rgb(87, 85, 85);
    color: white;
    width: 90%; 
    margin-top: 1rem;

}
#content-start-here-button {
    padding: 1rem;
    text-align: center;
}

@media only screen and (max-width: 690px) {
    .start-here-section {
      flex-flow: column;
      padding: 0;
      margin: 0;
      width: 100%;
      display: block;
    }
    img.start-here-section-img {
        width: 100%;
        margin: 0;
    }
    .start-here-cta {
        width: auto;
        height: auto;
        margin: 2rem 1rem 2rem 1rem;
      }
    .start-here-cta h1 {
        width: 95%;
    }
    .start-here-cta h2 {
        width: 95%;
    }
    #start-here-button {
        margin-top: 1.5rem;
        width: 100%; 
      }
}

/*ARTICLE SECTION*/
.article-section {
    max-width: 100%;
    display: flex;
}
.big-article {
    width: 60%;
    padding: 2rem 1.5rem;
}
#img-big-article {
    width: 100%;
    margin-bottom: 2rem;
}
p.big-article {
    margin: 1.5rem;
}

p#auteur {
    font-size: 0.75rem;
    margin-bottom: 2rem;
    font-weight: bold;
}
.small-articles {
    width: 40%;
    border-left: solid 2px rgb(223, 213, 213);
    align-items: center;
    vertical-align: middle;
}
.small-articles img {
    width: 35%;
    height: auto;
    margin: 1rem;
}
#article-1, #article-2, #article-3 {
  display: flex;
  border-bottom: solid 4px rgb(223, 213, 213);
  align-items: center;
  vertical-align: middle;
}
.content-small-article {
    width: 65%;
}
p.small-articles {
    margin: 0.5rem;
}
p.Read-more {
    color:skyblue;
}
#article-1 {
    padding-top: 1rem;
}
#article-3 {
    background-color:rgb(223, 213, 213);
}

@media only screen and (max-width: 690px) {

    .article-section {
        flex-flow: column;
        width: 100%;
    }
    .big-article {
        display: none;
    }
   
    .small-articles {
        flex-flow: column;
        width: 90%;
        border-bottom: 1px solid rgb(223, 213, 213);
        padding: 1rem;
        margin: 0;
    }
   
    .small-articles img {
        width: 90%;
    }
    #article-1, #article-2, #article-3 {
        flex-flow: column;
        border-bottom: none;
        margin: 0;
        width: 100%;
      }
      #article-1 {
        padding-top: 0;
    }
    #article-3 {
        background-color: white;
    }
    .content-small-article {
        width: 90%;
        padding: 2rem;
    }
}
/*START LEARNING SECTION*/

.start-learning-section-desktop {
    background-color: rgb(223, 213, 213);
    margin: 0;
    width: 100%;
}
h1.start-learning {
    vertical-align: middle;
    text-align: center;
    padding: 3rem 0rem 2rem;
}
.courses-overview {
    display: flex;
    flex-wrap: wrap;
    margin: 0rem 3.5rem 2rem 3.5rem;
    width: auto;
}
.course {
    margin: 1rem;
    width: 30%;
    background-color: white;    
}

img.img-course {
  width: 100%;
  height: auto;
}
.content-course {
    padding: 1rem 1rem 1.5rem 1rem;
}

@media only screen and (max-width: 691px) {
    .start-learning-section-desktop {
        display:none;
    }
}

.start-learning-section-mobile {
    padding-bottom: 2rem;
    border: 1px solid rgb(223, 213, 213);
    width: 100%;
}
.start-learning-section-mobile h1 {
    padding-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}
.mobile-courses {
    background-color:rgb(223, 213, 213);
    margin: 0.5rem 1rem;
}
.mobile-courses h2 {
    padding: 1rem 1rem 1.5rem 1rem;
}


@media only screen and (min-width: 691px) {
    .start-learning-section-mobile {
        display:none;
    }
}
/*THESIS EXHIBIT SECTION*/
.exhibit-section {
    width: 100%;
    background-color: white;
}
.exhibit-section h1 {
    vertical-align: middle;
    text-align: center;
    padding: 2rem 0rem 2rem;
}
#thesis-exhibit {
    display: flex;
}

.video-article {
    width: 60%;
    margin: 0rem 1.5rem;
}
.video-article h1 {
    text-align: left;
    margin-top: 0;
    padding: 0;
}
.video-article p {
    text-align: left;
    margin: 0.5rem 0rem 1.5rem;
    padding: 0;
}
.small-thesis-articles {
    width: 40%;
    align-items: center;
    vertical-align: middle;
}
img.small-articles {
    margin: 1rem;
    width: 35%;
}
#article-fisma {
    background-color:rgb(223, 213, 213);
}
video#video-big-article {
    margin-bottom: 1.5rem;
    width: 100%;
}
#article-fisma, #article-now-and-then {
    display: flex;
    align-items: center;
    vertical-align: middle;
}
@media only screen and (max-width: 690px) {
    #thesis-exhibit {
        flex-flow: column;
    }
    .video-article {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .video-article h1 {
        display: none;
    }
    .video-article p {
        display: none;
    }
    video#video-big-article {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .small-thesis-articles {
        display: none;
    }

}

/*FOOTER*/
footer {
    display: block;
    width: 100%;
    background-color: white;
    align-items: center;
    height: 4.5rem;
}

.footer-content {
    display: flex;
    border-top: 1px solid rgb(223, 213, 213);
    width: 100%;
    margin: 0;
}

div#copyright {
    flex: 1;
    font-size: 0.75rem;
    margin: 1rem 1.5rem;
}
div#terms {
margin: 0rem;
}
.footer-content li {
    display: inline-flex;
    font-size: 0.75rem;
    margin: 1rem 0.25rem;
}
@media only screen and (max-width: 691px) {
    div#terms {
        display: none;
        }
    }